<mat-card style="margin: 15px;" class="mat-elevation-z5" fxFlex fxLayout="column">
  <div class="filler">
      <mat-icon class="icon">assessment</mat-icon>
  </div> 
<mat-card-header >
  <mat-card-title>Общее число пассажиров на маршрутах:</mat-card-title>
</mat-card-header>
<mat-card-content fxLayout="column" fxFlex>
  <x-chartist [data]="data" [type]="type"> </x-chartist>
</mat-card-content>
<mat-card-footer >
    <mat-divider></mat-divider>
    <mat-card-content fxLayout="row" class="update-time"  fxFlex>
        <mat-icon>update</mat-icon>
        <span  >Последнее обновление: {{secFromLastUpdate}} секунд назад.</span>
    </mat-card-content>
</mat-card-footer>
</mat-card>
