<mat-card style="margin: 15px;" class="mat-elevation-z5" fxFlex fxLayout="column">
  <div class="filler">
      <mat-icon class="icon">assessment</mat-icon>
  </div> 
<mat-card-header >
  <mat-card-title>{{name}}</mat-card-title>
</mat-card-header>
<mat-card-content fxLayout="column" fxFlex>
  <x-chartist [data]="data" [type]="type"> </x-chartist>
</mat-card-content>
<mat-card-footer >
    <mat-divider></mat-divider>
    <mat-card-content  fxLayout="row" fxLayoutAlign="space-between" class="update-time"  fxFlex>
		<div fxLayout="row" fxflex>
			<mat-icon>update</mat-icon>
		    <p>Последнее обновление: {{secFromLastUpdate}} секунд назад.</p>
	    </div>
		
			<mat-form-field fxflex>
			<mat-label>Выбор маршрута</mat-label>
			<mat-select>
				<mat-option value="all">Все маршруты</mat-option>
    			<mat-option *ngFor="let route of routes" [value]="route.routeId">
					{{route.routeNumber}}
				</mat-option>
			</mat-select>
			</mat-form-field>
    </mat-card-content>
</mat-card-footer>
</mat-card>
