<div class="row">
    <div class="col-md-3">
        <span class="ncracker img-fluid rounded"></span>
    </div>
    <div class="col-md-9">
        <h2 class="display-4">Привет, пользователь{{cardId !=''?' карты ' + cardId : ''}}!</h2>
        <p class="lead">Это главная страница</p>

        <div *ngIf="cardId == ''">
            <div class="alert alert-warning">
                <span>Возможно вы хотите </span>&nbsp;
                <a class="alert-link" routerLink="/auth/login">Войти или зарегистрироваться</a>
            </div>
        </div>

        <p>
            Если у вас есть вопросы по проекту:
        </p>

        <ul>
            <li><a href="https://github.com/checorone/transporteye" target="_blank" rel="noopener">Гитхаб</a></li>
            <li><a href="https://vk.com/fedor_vk" target="_blank" rel="noopener">Куратор</a></li>
        </ul>

    </div>
</div>
