<mat-card>
  <mat-card-title>Регистрация</mat-card-title>
  <mat-card-content>
    <form class="example-form" [formGroup]="regForm" (ngSubmit)="onSubmit()">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Логин" formControlName="username">
        <mat-error *ngIf="f.username.errors">
          Логин обязателен
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Пароль" formControlName="password" [type]="hide ? 'password' : 'text'">
        <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="f.password.errors">
          Пароль обязателен
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Email" formControlName="email">
        <mat-error *ngIf="f.email.errors">{{getMailError()}}</mat-error>
      </mat-form-field>
      <div class="reg-btn">
        <button mat-raised-button color="primary" type="submit">Готово</button>
      </div>
      <mat-label [innerHTML]="message"></mat-label>
    </form>
  </mat-card-content>
</mat-card>
