<div fxLayout fxLayout.lt-md="column wrap" fxLayoutAlign="center center" fxLayoutGap.gt-sm="250px" fxLayoutGap.lt.md="20px">
  <mat-form-field>
    <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
</div>
<table mat-table [dataSource]="dataSource" matSort>
  <ng-container matColumnDef="cardId">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Номер Карты </th>
    <td mat-cell *matCellDef="let element"> {{element.cardId}} </td>
  </ng-container>

  <ng-container matColumnDef="password">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Пароль </th>
    <td mat-cell *matCellDef="let element"> {{element.password}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageSize]="10" [pageSizeOptions]="[1, 2, 3, 4, 5]">
</mat-paginator>