form{
  display: flex;
  flex-direction: column;
  padding: 10px 10px 10px 40px;
}

form>*{
  margin: 7px;
  width: max-content;
}

button{
  margin-right: 7px;
}

.map{
  height: 450px;
  //width: 100%;
}

.column {
  float: left;
  padding: 10px;
}

.left {
  display: flex;
margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  width: 30%;
}

.right {
  width: 70%;
}

input{
  width: 130%;
}
