<li *ngIf="cardId===''; else logged">
  <a routerLink="/login">
    <mat-icon class="up">account_box</mat-icon>
    <span class="nav-caption">Аккаунт</span>
  </a>
</li>
<ng-template #logged>
<!--  use this to return old version-->
<!--  <span class="effects" [matMenuTriggerFor]="menu">-->
<!--    <mat-icon class="up">payment</mat-icon>-->
<!--    <span class="nav-caption">{{cardId}}</span>-->
<!--  </span>-->
  <button mat-flat-button [matMenuTriggerFor]="menu">
    <mat-icon>payment</mat-icon>
    <span class="nav-caption">{{cardId}}</span>
  </button>
<!--  instead of this-->
  <mat-menu xPosition="after" #menu="matMenu">
    <button mat-menu-item>Мои карты?</button>
    <button mat-menu-item>Закладки?</button>
    <button mat-menu-item (click)="logout()">Выйти</button>
  </mat-menu>
</ng-template>
